<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<!-- <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/> -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<title>Home</title>
</head>
<body style="background-image: url('/img/back6.jpg'); background-size: cover; overflow: hidden;">
	<div style="width: 100%; position: absolute; z-index: -1;  height:100%; background-color:  pink; opacity: 0.8;">
		<nav role="navigation">
			<div class="nav-wrapper container"><a id="logo-container" href="/home" class="brand-logo">  MATCHA</a>
				<a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
				<ul id="dropdown1" class="dropdown-content">
					<li><a href="/profile">Profile</a></li>
					<li><a href="#!">Reset Password</a></li>
					<li class="divider"></li>
					<li><a href="#!">Logout</a></li>
				</ul>
				<ul class="right hide-on-med-and-down">
					<li><a href="/find">Find</a></li>
					<li><a href="#">Notifications<span class="new badge" id="notif1">5</span></a></li>
					<li><a href="#">Messages<span class="new badge" id="msg1">4</span></a></li>
					<li><a class="dropdown-button" href="#!" data-activates="dropdown1">Settings<i class="material-icons right">arrow_drop_down</i></a></li>
				</ul>
				<ul class="side-nav" id="mobile-demo">
					<li><a href="/find">Find</a></li>
					<li><a href="/profile">Profile</a></li>
					<li><a href="#">Notifications<span class="new badge" id="notif2">4</span></a></li>
					<li><a href="#">Settings</a></li>
				</ul>
				 <!-- <ul id="nav-mobile" class="sidenav">
					
				</ul> 
				<a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a> -->
			
			</div>
		</nav>
		<h1 style="text-align:center">WELCOME TO MATCHA</h1>
		<% if (data) { %>
			<h1>You live in  <%= data.city %> </h1>
		  <% } %>
	<div style="position:relative; left:30%; width:30%; object-fit: contain" >
		<div class="carousel carousel-slider center" data-indicators="true">
			<div class="carousel-fixed-item center">
				<a class="btn waves-effect white grey-text">button</a>
			</div>
			<div class="carousel-item red white-text" href="#one!">
				<img style="max-height: 80%; object-fit: contain" src="<%= pics.data%>">
			</div>
			<div class="carousel-item amber white-text" href="#two!">
				<h2>Second Panel</h2>
				<p class="white-text">This is your second panel</p>
			</div>
			<div class="carousel-item green white-text" href="#three!">
				<h2>Third Panel</h2>
				<p class="white-text">This is your third panel</p>
			</div>
			<div class="carousel-item blue white-text" href="#four!">
				<h2>Fourth Panel</h2>
				<p class="white-text">This is your fourth panel</p>
			</div>
		</div>
	</div>

	</div>
	<!-- <script src="http://localhost:80/jquery/jquery-3.1.1.js"></script> -->
	<!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script> -->
	<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script> -->

	<script 
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
	<script src="/js/materialize.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
	
	<script>
// 		(function($){
//   $(function(){

//     $('.sidenav').sidenav();

//   }); // end of document ready
// })(jQuery); // end of jQuery name space

// var instance = M.Carousel.init({
//     fullWidth: true
//   });

  // Or with jQuery

  // $('.carousel.carousel-slider').carousel({
  //   fullWidth: true
  // });
	$(".dropdown-button").dropdown();
	$(".button-collapse").sideNav();
	$('.carousel.carousel-slider').carousel({fullWidth: true});

	$(document).ready(
		setInterval(function () {

      $.ajax({
        type: 'GET',
        url: '/getNotifications',
        success: function(data) {
			console.log("done", data);
          $('#notif1').text(data + "");
        }
      });
    }, 30000));
	</script>

	
</body>
</html>