<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<!-- <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/> -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<title>Home</title>
	<style>
		.footer {
			position: fixed;
			left: 0;
			bottom: 0;
			width: 100%;
			color: black;
			text-align: center;
			background-color: white;
		}
	</style>
</head>

<body style="background-image: url('/img/back6.jpg'); background-size: cover;">
	<div style="width: 100%; position: absolute; z-index: -1;  height: 100vh; background-color:  pink; opacity: 0.8;">
		<nav role="navigation">
			<div class="nav-wrapper container"><a id="logo-container" href="/home" class="brand-logo"> MATCHA</a>
				<a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
				<ul id="dropdown1" class="dropdown-content">
					<li><a href="/profile">Profile</a></li>
					<li><a href="#!" onclick="resetPass()">Reset Password</a></li>
					<li class="divider"></li>
					<li><a href="/logout">Logout</a></li>
				</ul>
				<ul class="right hide-on-med-and-down">
					<li><a href="/find">Find</a></li>
					<li><a class="modal-trigger" href="#modal1" id="notiflnk">Notifications<span class="new badge"
								id="notif1">0</span></a></li>
					<li><a href="/chat">Messages<span class="new badge" id="msg1">0</span></a></li>
					<li><a class="dropdown-button" href="#!" data-activates="dropdown1">Settings<i
								class="material-icons right">arrow_drop_down</i></a></li>
				</ul>
				<ul class="side-nav" id="mobile-demo">
					<li><a href="/find">Find</a></li>
					<li><a href="/profile">Profile</a></li>
					<li><a href="#">Notifications<span class="new badge" id="notif2">0</span></a></li>
					<li><a href="#">Settings</a></li>
				</ul>
				<!-- <ul id="nav-mobile" class="sidenav">
					
				</ul> 
				<a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a> -->
			</div>
		</nav>
		<h1 style="text-align:center">WELCOME TO MATCHA</h1>
		<div style="position:relative; max-height: 60vh; object-fit: contain">
			<div class="carousel carousel-slider center" data-indicators="true" style="max-height: 60vh;">
				<div class="carousel-fixed-item center">
					<a class="btn waves-effect white grey-text">Add Picture</a>
				</div>
				<% for(var i=0; i < pics.length; i++) { %>
				<div class="carousel-item lighten-1 white-text" href="#one!">
					<img style="max-height: 60vh; object-fit: scale-down" src="<%= pics[i].data%>">
				</div>
				<% } %>
			</div>
		</div>

	</div>
	<!-- Modal Structure -->
	<div id="modal1" class="modal bottom-sheet">
		<div class="modal-content">
			<h4>Notifications</h4>
			<div class="row">
				<ul class="collection" id="notif">
					<!-- <li class="collection-item">Alvin</li>
							<li class="collection-item">Alvin</li>
							<li class="collection-item">Alvin</li>
							<li class="collection-item">Alvin</li> -->
				</ul>
			</div>
		</div>
		<div class="modal-footer">
			<a onclick="allNotifications()" class="modal-action waves-effect waves-green btn-flat">All Notifications</a>
			<a onclick="dismissModal()" class="modal-action modal-close waves-effect waves-green btn-flat">Dismiss</a>
		</div>
	</div>
	<!-- <script src="http://localhost:80/jquery/jquery-3.1.1.js"></script> -->
	<!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script> -->
	<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script> -->

	<script src="https://code.jquery.com/jquery-3.3.1.min.js"
		integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
	<script src="/js/materialize.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>

	<script>
		$(document).ready(function () {
			// the "href" attribute of the modal trigger must specify the modal ID that wants to be triggered
			$('.modal').modal();
		});
		var msgcount = '0';
		$(".dropdown-button").dropdown();
		$(".button-collapse").sideNav();
		$('.carousel.carousel-slider').carousel({ fullWidth: true });
		function polling() {
			$.ajax({
				type: 'GET',
				url: '/getNotifications',
				success: function (data) {
					// console.log("notifications", data);
					$('#notif1').text(data + "");
				}
			});
			$.ajax({
				type: 'GET',
				url: '/getMessageCount',
				success: function (data) {
					// console.log("msgcount", data);
					if (data != msgcount) {
						Materialize.toast('You have New Messages', 4000);
						//only when there is a new message.. maybe keep track of the messages count and if theres a difference display
					}
					msgcount = data;
					$('#msg1').text(data + "");
				}
			});
		}

		$(document).ready(setInterval(polling, 3000));
		
		function dismissModal() {
			$.ajax({
				type: 'GET',
				url: '/readNotifications',
				success: function (data) {
					console.log("done");
				}
			});
		}

		$("#notiflnk").on("click", function () {
			$.ajax({
				type: 'GET',
				url: '/notifications',
				success: function (data) {
					$("#notif").empty();
					for (const iterator of data) {
						$("#notif").append('<li class="collection-item">' +iterator.from +' ' + iterator.type + ' on '+   new Date(iterator.timestamp * 1000) + '</li>');
					}
				}
			});
		});

		function allNotifications() {
			$.ajax({
				type: 'GET',
				url: '/allNotifications',
				success: function (data) {
					$("#notif").empty();
					for (const iterator of data) {
						$("#notif").append('<li class="collection-item">' +iterator.from +' ' + iterator.type + ' on '+   new Date(iterator.timestamp * 1000) + '</li>');
					}
				}
			});
		}
		function resetPass() {
			$.ajax({
				type: 'GET',
				url: '/resetpassemail',
				success: function (data) {
					Materialize.toast('Check email for password reset link!', 4000)
				}
			});
		}
	</script>
	<div class="footer">
		<div class="footer-copyright">
			<div class="container">
				© 2019 by bngweny
			</div>
		</div>
	</div>
</body>

</html>